*,
::before,
::after {
    border-width: 0;
    border-style: solid;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-color: #F6F4F2;
    font-family: 'Arimo', sans-serif;


}

.text{
    padding: auto 9rem 0 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: auto;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    word-break: break-all
}

.xdd{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 5%;
    margin: 0;
    cursor: pointer;
    padding: 2rem 0 0 0;
}

ul {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: -1.5rem;
    list-style-type: none;
    padding: 3rem;
    background-color: white;
    width: 35%;
    height: 15rem;
    border-radius:  0.4rem;
    overflow: auto;
    word-break: break-all;
    box-shadow: 0 4px 4px 4px rgb( 73, 105, 76, 0.5)
}

#titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10rem;
    background-color: white;
    width: 35%;
    display: flex;
    height: 4.5rem;
    left: 25.4rem;
    right: 39rem;
    padding: 0rem 3rem;
    box-shadow: 0 0 7px 0 rgba( 73, 105, 76, 10)

}

::-webkit-scrollbar {
    width: 10px;
  }

.task{
    display: flex;
    padding: 0.5rem 0 0 0;
    flex-direction: row;
}
