*,
::before,
::after {
    border-width: 0;
    border-style: solid;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-color: #F6F4F2;
    font-family: 'Arimo', sans-serif;


}

.text{
    padding: auto 9rem 0 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: auto;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    word-break: break-all
}

.xdd{
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 5%;
    margin: 0;
    cursor: pointer;
    padding: 2rem 0 0 0;
}

ul {
    display: flex;
    margin: -1.5rem;
    list-style-type: none;
    padding: 3rem;
    width: 35%;
    height: 15rem;
    border-radius:  0.4rem;
    overflow: auto;
    word-break: break-all;
    background-color: white;
}

#titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10rem;
    background-color: white;
    width: 35%;
    display: flex;
    height: 4.5rem;
    left: 25.4rem;
    right: 39rem;
    padding: 0rem 3rem;
    box-shadow: 0 0 7px 0 rgba( 73, 105, 76, 10)

}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 21.3rem 0 0;
    width: 20rem;
}

#form [type=text] {
    width: 9rem;
    padding: 1rem 0 1rem 0;
    margin: 8px 0;
    box-sizing: border-box;
  
}

::-webkit-scrollbar {
    width: 10px;
  }

.task{
    margin-top: -0.3rem;
    display: flex;
    flex-direction: column;
    
}

#name-input {
size: 1rem;    
}

input{
    outline: none;
}

.correct{
    border: 2px solid rgb(168, 247, 50)
}
.info-text{
    display: none;
}

.deleteicon {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    transition: all 0.5s ease-in-out;
}


.deleteicon:hover {
    color: #a3a3a3;
    background-color: rgba( 49, 66, 46, 1);
    opacity: 40%;
}

.editicon {
    width: 2rem;
    align-items: center;
    justify-content: center;
    height: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.editicon:hover {
    color: #a3a3a3;
    background-color: rgba( 49, 66, 46, 1);
    opacity: 40%;
}


li {
    display: flex;
    gap: 1rem;
}


.input-container {
    gap: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-btn {
    display: flex;
    flex-direction: row;
    background-color: white;
    cursor: pointer;
    padding: 1rem;
    transition: all 0.5s ease-in-out;
}

.form-btn:hover {
    color: #a3a3a3;
    background-color: rgba( 49, 66, 46, 1);
    opacity: 90%;
}

.show{
    display: block;
}